spring:
  application:
    name: product
  datasource:
    url: jdbc:postgresql://localhost:5434/product_db
    username: product_user
    password: product_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      format_sql: true
server:
  port: 8081