spring:
  application:
    name: users
  datasource:
    url: jdbc:postgresql://localhost:5435/user_db
    username: user_user
    password: user_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      format_sql: true
server:
  port: 8080