spring:
  application:
    name: order
  datasource:
    url: jdbc:postgresql://localhost:5433/order_db
    username: order_user
    password: order_pass
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      format_sql: true
server:
  port: 8082